<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hk.gs.sell.mapper.DeliveryInfoMapper">

	<select id="getDeliveryListForDrivers" parameterType="hashmap" resultType="hashmap">
	 	 SELECT prod_nm
				, GROUP_CONCAT(concat_txt ORDER BY unit_ord, sell_quan) delivery_detail
		  FROM (
				SELECT d.prod_nm
						, b.cust_nm
						, c.sell_quan
						, e.unit_nm
						, d.prod_typ
						, f.ord
						, e.ord AS unit_ord
						, CONCAT(b.cust_al, c.sell_quan, e.unit_al) AS concat_txt
				  FROM delivery_info a JOIN customer b						  			 
							  			 ON a.truck_no = b.truck_no
							  		   JOIN sell c 
				  						 ON b.cust_no = c.cust_no
			   			  			   JOIN product d
							  			 ON c.prod_no = d.prod_no
							  		   JOIN unit e
							  			 ON c.unit = e.unit
							  	  LEFT JOIN ord f
							  			 ON d.prod_no = f.prod_no
				 WHERE c.sell_dt = DATE_FORMAT(#{sell_dt},'%Y%m%d')	
				   /*미입(N)제외 교환(E)은 무조건 작업표에만 포함시킴*/
			   	   AND IFNULL(c.sell_type, '') != 'N'
			   	   <if test="truck_no != null and truck_no != '' ">	   	  
			   	   AND a.truck_no = #{truck_no}
			   	   </if>
				) a
		  GROUP BY prod_nm
		  ORDER BY prod_typ, ord
	</select>	
	
    <select id="getTruckInfo" parameterType="hashmap" resultType="hashmap">
		SELECT a.truck_no
				, a.truck_nm
				, DATE_FORMAT(SYSDATE()	, '%Y년 %m월 %d일') today				
		  FROM delivery_info a
		 <if test="truck_no != null and truck_no != '' ">	   	  
		 WHERE a.truck_no = #{truck_no}
		 </if>
    </select>
    
    <select id="getToday" parameterType="hashmap" resultType="hashmap">
		SELECT DATE_FORMAT(SYSDATE(), '%Y년 %m월 %d일') today		
			  , DATE_FORMAT(SYSDATE(), '%Y_%m_%d') file_nm   
    </select>
</mapper>