<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hk.gs.sell.mapper.SellReturnMapper">
	<insert id="setSellReturn" parameterType="hashmap">
		INSERT INTO sell_return (return_dt
									, return_seq
									, sell_dt
									, cust_no
									, sell_seq
									, return_quan									
									) 
				VALUES
						( (CASE WHEN DATE_FORMAT(CURTIME(), '%p') = 'AM' THEN DATE_FORMAT(CURDATE(), '%Y%m%d') 
								ELSE DATE_FORMAT(CURDATE()+1, '%Y%m%d')  
						    END )
						, IFNULL((SELECT MAX(return_seq) + 1 FROM sell_return AS T1 WHERE return_dt = (CASE WHEN DATE_FORMAT(CURTIME(), '%p') = 'AM' THEN DATE_FORMAT(CURDATE(), '%Y%m%d') 
																											ELSE DATE_FORMAT(CURDATE()+1, '%Y%m%d')  
																									    END )), 1)
						, REPLACE(#{sell_dt}, '-', '')
						, #{cust_no}
						, #{sell_seq}
						, #{return_quan}
						)
    </insert>
    
    <select id="getSellReturnList" parameterType="hashmap" resultType="hashmap">
    	 SELECT DATE_FORMAT(a.sell_dt, '%Y-%m-%d') sell_dt
 		 		, a.cust_no
				, c.cust_nm
				, a.sell_seq
				, d.prod_nm
				, a.sell_quan		/*판매수량*/
				, f.return_quan		/*반품수량*/
				, a.unit
				, e.unit_nm
				, d.tax_yn
				, CASE WHEN d.tax_yn = 'N' THEN TRUNCATE(a.sell_quan * IFNULL(b.prod_price, g.prod_price), 2)
					   ELSE 0
				   END tax_free /*면세*/
				, CASE WHEN d.tax_yn = 'Y' THEN TRUNCATE((a.sell_quan * IFNULL(b.prod_price, g.prod_price)) / 1.1, 2)
					   ELSE 0 
				   END supply /*공급가액*/
				, CASE WHEN d.tax_yn = 'Y' THEN TRUNCATE(((a.sell_quan * IFNULL(b.prod_price, g.prod_price)) / 1.1) /10, 2)
					   ELSE 0
				   END tax /*부가세*/
				, a.sell_quan * IFNULL(b.prod_price, g.prod_price) AS total_price /*계*/
		  FROM sell a LEFT JOIN product_price b
							 ON a.cust_no = b.cust_no
						    AND a.prod_no = b.prod_no
						    AND a.unit = b.unit
						    AND a.sell_dt BETWEEN b.start_dt AND b.end_dt
						   LEFT JOIN customer c
						 	 ON a.cust_no = c.cust_no
					  LEFT JOIN product d
						 	 ON a.prod_no = d.prod_no
					  LEFT JOIN unit e
						     ON a.unit = e.unit
					       JOIN sell_return f
					         ON a.sell_dt = f.sell_dt
   				        	AND a.cust_no = f.cust_no
					        AND a.sell_seq = f.sell_seq
					  LEFT JOIN com_product_price g
							 ON a.prod_no = g.prod_no
							AND a.unit = g.unit
							AND a.sell_dt BETWEEN g.start_dt AND g.end_dt
		 WHERE 1=1
		 <if test="sell_dt != null and sell_dt != ''">
		   AND a.sell_dt = DATE_FORMAT(#{sell_dt},'%Y%m%d')		  
		 </if>
		 <if test="cust_no != null and cust_no != ''">
		   AND a.cust_no = #{cust_no}
		 </if>
		 <if test="prod_no != null and prod_no != ''">
		   AND a.prod_no = #{prod_no}
		 </if>
    </select>
    
    <update id="setUpdSellReturn" parameterType="hashmap">
    	UPDATE sell_return
    	   SET return_quan = #{sell_quan}
		 WHERE return_dt = #{sell_dt}
		   AND return_seq = #{return_seq}
    </update>
    
    <delete id="setDelSellReturn" parameterType="hashmap">
		DELETE FROM sell_return 
		 WHERE return_dt = #{return_dt}
		   AND return_seq = #{return_seq}
    </delete>
</mapper>